$light-background-color: #6e7379;
$light-card-background-color: #202426;
$light-text-color: #fafafa;
$light-button-background-color: #007bff;
$light-button-hover-color: #2b3036;
$light-text-shadow: 2px 2px 10px rgba(8, 128, 240, 0.6);
$light-input-background-color: #42464b;

$dark-background-color: #1c1e21;
$dark-card-background-color: #121416;
$dark-text-color: #fafafa;
$dark-button-background-color: #ed443c;
$dark-button-hover-color: #2b3036;
$dark-text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.6);
$dark-input-background-color: rgb(45, 45, 45);
